* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #1d1d1f;
    transition: 0.3s;
}


/* =====================
   NAVBAR
===================== */

header {

    position: sticky;
    top: 0;

    background: rgba(255, 255, 255, 0.8);

    backdrop-filter: blur(10px);

    padding: 20px 50px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    border-bottom: 1px solid #ddd;

    z-index: 100;

}


header h1 {

    font-size: 24px;

}


nav a {

    margin: 15px;

    text-decoration: none;

    color: #1d1d1f;

    transition: 0.3s;

}


nav a:hover {

    color: #0071e3;

}


/* =====================
   BUTTONS
===================== */

button {

    border: none;

    background: #0071e3;

    color: white;

    padding: 12px 25px;

    border-radius: 25px;

    cursor: pointer;

    transition: 0.3s;

}


button:hover {

    opacity: 0.8;

    transform: scale(1.05);

}


/* =====================
   HERO SECTION
===================== */

.hero {

    text-align: center;

    padding: 120px 20px;

}


.hero h2 {

    font-size: 60px;

    margin-bottom: 20px;

}


.hero h3 {

    font-size: 35px;

}


.hero p {

    font-size: 25px;

    color: #555;

}


/* =====================
   PRODUCTS
===================== */

.products {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

    padding: 50px;

}


.card {

    background: #f5f5f7;

    width: 280px;

    padding: 40px;

    border-radius: 25px;

    text-align: center;

    transition: 0.3s;

}


.card:hover {

    transform: translateY(-10px);

}


.card h3 {

    font-size: 25px;

}


/* =====================
   CONTACT
===================== */

.contact {

    text-align: center;

    padding: 100px;

}


/* =====================
   FOOTER
===================== */

footer {

    background: black;

    color: white;

    text-align: center;

    padding: 20px;

}


/* =====================
   DARK MODE
===================== */


.dark {

    background: #000;

    color: white;

}


.dark header {

    background: rgba(20, 20, 20, 0.8);

    border-bottom: 1px solid #333;

}


.dark header h1 {

    color: white;

}


.dark nav a {

    color: white;

}


.dark nav a:hover {

    color: #0071e3;

}


.dark .hero p {

    color: #cccccc;

}


.dark .card {

    background: #1c1c1e;

    color: white;

}


.dark .card h3 {

    color: white;

}


.dark .contact {

    color: white;

}


.dark footer {

    background: #111;

}


/* =====================
   MOBILE RESPONSIVE
===================== */

@media(max-width:768px) {

    header {

        padding: 20px;

        flex-direction: column;

    }


    .hero h2 {

        font-size: 40px;

    }


    .hero p {

        font-size: 18px;

    }


    .products {

        padding: 20px;

    }

}